<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0510a5dbca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/custom.css">

    <title>Peak MontainTemp</title>
  </head>
  <body>
      <!-- navigation section-->
      <div class="container-fluid">
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <!-- for brand name-->
          <img src="images/logo-color.png" style="width: 100px; height: 50px;"  alt="logo">
          <!--nav links-->
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="ul-div collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">COURSES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TRIPS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      PAGES</a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Link 1</a>
                          <a class="dropdown-item" href="#">Link 2</a>
                          <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                     </li>
            </ul>
            <button class="btn btn-success" style="margin-left: auto;">JOIN US</button>
          </div>
           
          </nav>
      </div>
      <!-- slider section-->
      <div class="container-fluid">
            <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                    </ul>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="images/mountain1.png" class="image-size" alt="Los Angeles" >
                        <div class="carousel-caption image-heading">
                          <h3 class="image-heading">EXPLORE</h3>
                        </div>   
                      </div>
                      <div class="carousel-item">
                        <img src="images/mountain2.png" class="image-size" alt="Chicago">
                        <div class="carousel-caption image-heading">
                          <h3 class="image-heading">NEW PALCES</h3>
                        </div>   
                      </div>                     
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                  </div>
      </div>

      <!--why choose us section-->
      <section>
          <div class="contanier-fluid">
              <div class="container">
                  <h1 style="text-align: center; margin-top: 35px; padding: 15px;">WHY CHOOSE US</h1>
                  <div class="row">
                      <div class="col-sm-4">
                         <h3><i class='fab fa-font-awesome-flag' style='font-size:30px;color:rgb(103, 233, 103)'></i>
                          EXCITING ADVENTURES</h3>
                          <p>Peak climbing school guarantees the best adventures for all climbers.</p>
                      </div>
                      <div class="col-sm-4">
                           <h3><i class='fa fa-group' style='font-size:30px;color:rgb(103, 233, 103)'></i>
                             ROFESSIONAL TEAM</h3>
                            <p>The team of Peak consists of highly qualified climbing instructors.</p>
                      </div>
                      <div class="col-sm-4">
                           <h3><i class='fa fa-thumbs-up' style='font-size:30px;color:rgb(103, 233, 103)'></i>
                            BEST EQUIPMENT</h3>
                            <p>Peak uses the latest equipment to make your climbing experience safe.</p>
                      </div>

                  </div>
                  <div class="row" style="margin-top:35px;">
                        <div class="col-sm-4">
                           <h3><i class='fas fa-book-open' style='font-size:30px;color:rgb(103, 233, 103)'></i>
                            COURSES & TRAINING</h3>
                            <p>Our instructors offer training courses for climbers of any skill level.</p>
                        </div>
                        <div class="col-sm-4">
                             <h3><i class='fa fa-tree' style='font-size:30px;color:rgb(103, 233, 103)'></i>
                                BEST LOCATION</h3>
                              <p>With us, you can discover the most spectacular climbing locations.</p>
                        </div>
                        <div class="col-sm-4">
                             <h3><i class='fa fa-shield' style='font-size:30px;color:rgb(103, 233, 103)'></i>
                                SAFETY GUARANTEE</h3>
                              <p>We do everything possible to ensure our students’ and clients’ safety.</p>
                        </div>
  
                    </div>
              </div>

          </div>
      </section>

      <!-- our course-->
      <section class="container-fluid" style="background-color: darkslategray; margin: 15px 0px;">
          <h1 style="text-align: center; padding: 30px; color: whitesmoke;"> OUR COURSES</h1>
          <div class="container">
              <div class="row">
                  <div class="col-sm-4 course-colounm" >
                      <div>
                          <img src="images/rockskill.png" alt="climbing" > 
                          <div>
                              <ul>
                                 <li>10 training sessions</li>
                                 <li>Outdoor climbing</li>
                                 <li>Top rope systems</li>
                                 <li>Following climbing</li>
                                </ul>
                           </div>
                           <div class="pri-book-div">
                                <span>$60</span><br>
                                <button class="btn btn-success">BOOK NOW</button>
                           </div>
                           
                     </div>
                  </div>
                  <div class="col-sm-4 course-colounm">
                       <div>
                           <img src="images/climb.png">
                         <div> 
                             <ul>
                               <li>Ropework</li>
                               <li>Rework</li>
                               <li>12 training sessions</li>
                               <li>Finding balance</li>
                              </ul>
                           </div>
                           <div class="pri-book-div">                               
                                 <span>$50</span><br>
                                <button class="btn btn-success">BOOK NOW</button>
                           </div>
                      </div>
                  </div>
                  <div class="col-sm-4 course-colounm">
                      <div>
                          <img src="images/advan.png">
                         <div>
                               <ul>
                                  <li>15 training sessions</li>
                                  <li>Outdoor climbing</li>
                                  <li>Advance climbing</li>
                                  <li>beley technique</li>
                              </ul>
                         </div>
                         <div class="pri-book-div">
                             <span>$40</span><br>
                             <button class="btn btn-success ">BOOK NOW</button>
                         </div>
                       </div>
                  </div>
              </div>

          </div>
      </section>

      <!-- tripe section-->
      <section class="container-fluid" style="background-color: darkslategray; margin: 15px 0px;">
        <!--row for trip title and desc-->
          <div class="row" style="padding: 15px 0px; margin-left: 15px;">
              <div class="col-sm-3">
                  <h2 style="color:whitesmoke ;">TRIPS</h2>
                </div>
                <div class="col-sm-9">
                  <p style="color:whitesmoke ;">Our school regularly organizes a variety of mountain climbing trips,<br>
                      where our students can practice their skills in the open.
                     Here are some of the most popular trips.
                    </p>
                </div>
          </div>
          <!-- row  for trip gallary-->
          <div class="container">
              <div class=" row trip-gallery">
                  <div class="col-sm-4 trip-gal-col">
                      <img src="images/t_img1.jpg" alt="trip 1">
                      <div class="trip-gal-desc">
                          <h3> PIKE PEAKS</h3>
                          <p> HEIGHT: 14,110 FT</p>
                      </div>
                  </div>

                  <div class="col-sm-4 trip-gal-col">
                      <img src="images/t_img2.jpg" alt="trip-2">
                      <div class="trip-gal-desc">
                          <h3> MOUNT EVEREST</h3>
                          <p> HEIGHT: 5,269 FT.</p>
                      </div>
                  </div>
                  <div class="col-sm-4 trip-gal-col">
                      <img src="images/t_img3.jpg" alt="trip-3">
                      <div class="trip-gal-desc">
                          <h3> HIMALAYAS</h3>
                          <p> HEIGHT: 6,600 FT.</p>
                      </div>
                  </div>
              </div>

          </div>

      </section>

      <!-- section for footer-->
      <section>
          <div class="container-fluid" style="background-color: darkslategray; margin: 15px 0px;">
              <div class="row">

                  <div class="col-sm-5">
                      <img src="images/logo-color.png" style="margin-top: 20px;" alt="company logo">
                      <p style="color: white; padding: 10px;">
                     Peak climbing school was founded in 1999 to offer courses,<br> 
                     trips and training to those interested in climbing. Whether you are <br>
                      a pro or a beginner, we have what to offer you.</p>
                  </div>

                  <div class="col-sm-5">
                      <h3 style="margin-top: 20px; color: white;">ADDRESS & PHONE</h3>
                      <p style="color: white;">51 Francis Street, Darlinghurst NSW 2010, United States <br>
                      Ph. +2545-8546-444555</p>
                     <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="E-MAIL">
                            <div class="input-group-append">
                              <button class="btn btn-success" type="submit">SUBSCRIBE</button>  
                             </div>
                     </div>
                     <p style="color: white; padding: 5px;"> © 2019 Peak. All Rights Reserved. Privacy Policy</p>
                  </div>

                  <div class="col-sm-2">
                      <h4 style="color: white; margin-top: 20px;">SHARE</h4>
                      <span><i class='fab fa-facebook footer-icons' style='font-size:36px'></i></span><br>
                      <span><i class='fab fa-instagram footer-icons' style='font-size:36px'></i></span><br>
                      <span><i class='fab fa-twitter footer-icons' style='font-size:36px'></i></span>
                  </div>
              </div>

              </div>

          </div>
      </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  
</body>
</html>