#inputVal{ 
 background-color: #f1e8e5;
    width: 160px;
  height: 25px;
  margin-left: 595px;
  padding-top: 10px;
  text-align: right;
  padding-right: 5px;
 }

 button {
      border: 0;
      background-color: crimson;
       color: white;
       cursor: pointer;
       font: inherit;
       margin: 0.25em;
      width: 2em;
      height: 2em;
 }
 button:hover {
     background: #201e40;
     }
            