.title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: firebrick;
}
.slider-div{
    background-color: lightsteelblue;
    margin: 10px;
    padding: 10px;
  text-align: center;
}
ul li{
    list-style: none;
    display: inline;
    font-size: 25px;
    
}
#testbtn{
    margin: 10px;
    padding: 5px;
    width: 50px;
    background-color: midnightblue;
    color: whitesmoke;
    border: 1px solid whitesmoke;


} #testbtn:hover{
    background-color: tomato;
}
.second-slider{
    background-color: darkgrey;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.demo-slider{
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
.btn-div{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.btn-div button{
    background-color: lightseagreen ;
    padding: 5px;
    color: darkred;
    border: 1px solid bisque;
    cursor: pointer;

}